In [150]:
import pickle
import pandas as pd
from sklearn.linear_model import LogisticRegression
import numpy as np
from sklearn.metrics import roc_auc_score
import matplotlib.pyplot as plt

In [151]:
df = pd.read_pickle('../data/clean-data.pkl')

In [152]:
df.head(3)

,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text,num_of_sen,num_of_word
150523,0,0,1,939340800,EVERY book is educational,this witty little book makes my son laugh at l...,4,74
150500,2,2,1,940809600,This whole series is great way to spend time w...,i can remember seeing the show when it aired o...,5,78
451855,0,0,1,944092800,Entertainingl Funny,beetlejuice is a well written movie everything...,7,29

In [153]:
Y = df.Score
X = df.drop(labels=['Score','Text','Summary','Time'],axis=1)
pred = {}

In [154]:
num, den = X.HelpfulnessNumerator.tolist(), X.HelpfulnessDenominator.tolist()
usefulness = []
for i in range(len(num)):
    if(den[i]==0):
        usefulness.append(-1)
    else:
        usefulness.append(num[i]/den[i])
    #usefulness.append(num[i]/(den[i]+1e-5))

In [155]:
X['usefullness'] = usefulness

In [156]:
X.head(3)

,HelpfulnessNumerator,HelpfulnessDenominator,num_of_sen,num_of_word,usefullness
150523,0,0,4,74,-1.0
150500,2,2,5,78,1.0
451855,0,0,7,29,-1.0

In [157]:
l = int(0.8*df.shape[0])

In [158]:
lr = LogisticRegression(n_jobs=-1,penalty='l2',C=1e-5,class_weight='balanced',verbose=1)

In [159]:
lr.fit(X[:l],Y[:l])

C:\Users\Sanjay\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:1228: UserWarning: 'n_jobs' > 1 does not have any effect when 'solver' is set to 'liblinear'. Got 'n_jobs' = -1.
  " = {}.".format(self.n_jobs))

[LibLinear]

LogisticRegression(C=1e-05, class_weight='balanced', dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='ovr', n_jobs=-1, penalty='l2', random_state=None,
          solver='liblinear', tol=0.0001, verbose=1, warm_start=False)

In [160]:
roc_auc_score(Y[l:],lr.predict(X[l:]))

0.60220112920430913